main{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(150deg,#D9F2D080 15%,#C1E5F590 25%,#FFF1D099 70%);
}

.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutUs{
    width: 80%;
    letter-spacing: 1.5px;
    text-align: center;
}

.aboutUs h3::first-letter{
    color: #77933c;
}

.aboutUs h3::first-letter{
    text-decoration-line: underline;
    text-underline-offset: 6px
}

.aboutUs span p{
    margin-top: 30px;
}

.advantages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.advantageItem {
    text-align: center;
}
.advantageItem img {
    max-width: 100%;
    height: auto;
}

.advantageItem:hover{
    cursor: pointer;
    transform: translateY(-5px);
}

.advantageItem img{
    width: 50%;
    height: 50%;
}

.timeline {
    position: relative;
    margin: 0 auto;
    z-index: 0;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #98A58C;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
}

.container {
    padding: 10px 40px;
    position: relative;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #b99172;
    top: 15px;
    left: 50%;
    margin-left: -12.5px;
    border-radius: 50%;
    z-index: 1;
}

.left::before, .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    border: medium solid #3498db;
}

.left::before {
    right: 180px;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #9DBCCD;
}

.right::before {
    left: 180px;
    border-width: 10px 10px 10px 0;
    border-color: transparent #9DBCCD transparent transparent;
}

.content {
    width: 270px;
    height: auto;
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.left .content{
    position: relative;
    left: -150px;
}

.right .content{
    position: relative;
    right: -150px;
}

@media(max-width: 992px) {
    .advantages {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 600px) {
    .aboutUs{
        width: 90%;
    }

    .advantages {
        grid-template-columns: 1fr;
    }

    .timeline::after{
        display: none;
    }

    .container {
        padding: 80px 0;
    }

    .container::after, .right:last-of-type::before{
        display: none;
    }

    .left::before, .right::before{
        left: 100px;
        top: 85%;
    }

    .left::before{
        border-width: 60px 0 60px 60px;
        transform: rotate(90deg);
        bottom: -100px;
    }

    .right::before{
        border-width: 60px 60px 60px 0;
        transform: rotate(-90deg);
    }

    .left .content, .right .content {
        width: 100%;
        left: 0;
        right: 0;
    }
}