main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutUs{
    width: 80%;
    letter-spacing: 1.5px;
    text-align: center;
}


.aboutUs h3 p{
    display: inline-block;
    letter-spacing: 1.5px;
    text-align: center;
    margin: 0 5px;
}

.aboutUs h3 p::first-letter{
    color: #749a5a;
}

.aboutUs h3::first-letter{
    text-decoration-line: underline;
    text-underline-offset: 10px
}

.aboutUs span p{
    margin-top: 30px;
}

.advantages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.advantageItem {
    text-align: center;
}
.advantageItem img {
    max-width: 100%;
    height: auto;
}

.advantageItem:hover{
    cursor: pointer;
    transform: translateY(-5px);
}

.advantageItem img{
    width: 50%;
    height: 50%;
}

.timeline {
    position: relative;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #3498db;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #3498db;
    border: 4px solid #3498db;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: -152px;
}

.right {
    left: 148px;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #3498db;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #3498db;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #3498db;
    border-width: 10px 10px 10px 0;
    border-color: transparent #3498db transparent transparent;
}

.right::after {
    left: -13px;
}

.content {
    width: 270px;
    height: auto;
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

@media(max-width: 992px) {
    .advantages {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 600px) {
    .aboutUs{
        width: 90%;
    }

    .advantages {
        grid-template-columns: 1fr;
    }

    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
        left: 0
    }
    .container::before{
        display: none;
    }

    .container::after{
        right: 284px;
    }

    .timeline::after{
        left: 0
    }
}