.carbonCreditPurchasing{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.carbonCreditPurchasing h1{
    position: relative;
    width: fit-content;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    background-color: #707070;
    color: #fefefe;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 3px 3px 5px #888;
}

.carbonCreditPurchasing h2{
    margin-bottom: 30px;
}

.carbonCreditPurchasing h1::first-letter,.carbonCreditPurchasing h2::first-letter{
    color: #8fc268;
    font-weight: 550;
}

.carbonCreditPurchasingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.carbonCreditPurchasingContainer section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.carbonCreditPurchasingContainer strong{
    font-size: 1.5rem;
    font-weight: 800;
    color: #db8c5f;
}

.carbonCreditPurchasingContainer span{
    display: inline-block;
    line-height: 2.5;
    letter-spacing: 2.2px;
    margin-bottom: 30px;
    list-style: none;
}

.whatContainer{
    display: flex; 
    align-items: start;
    justify-content: space-between;
}

.whatContainer .what{
    width: 50%;
    margin-right: 30px;
    padding: 30px;
    border: solid 8px #97a68c;
    border-radius: 50px 80px 20px 80px;
}

.whatContainer .scope{
    text-align: center;
    width: 50%;
    padding: 30px;
    border: solid 8px #97a68c;
    border-radius: 120px 20px 120px 20px;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.whatContainer .wrapper img{
    width: 40%;
    object-fit: contain;
    margin: 10px;
}

.whatContainer .scope a{
    display: inline-block;
    text-decoration: none;
    color: #97a68c;
    padding: 0px 20px;
    border: 3px solid #bdbdbd;
    border-radius: 20px;
    transition: transform 0.3s;
}

.whatContainer .scope a:hover{
    background-color: #e0e0e0;
    transform: translateY(-5px);
    transition: transform 0.3s;
}

.whyContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
}

.whyContainer h2{
    margin-bottom: 30px;
    padding-bottom: 5px;
    border-bottom: 3px solid #97a68c;
}

.whyContainer .point{
    display: flex;
    align-items: center;
    justify-content: center;
}

.whyContainer .point .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    background-color: #fff;
    border: 10px solid #8fc268;
    border-radius: 100%;
}

.whyContainer .point span{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b87d55;
    color: #fefefe;
    width: 80%;
    height: 150px;
    margin-top: 30px;
    padding: 20px 60px;
    border: 5px solid #aaa;
    border-radius: 20px;
    z-index: -1;
}

.whyContainer .point span h5{
    align-self: flex-start;
}

.whyContainer .point span p{
    line-height: 1.8;
}

.whyContainer .pointLeft span{
    transform: translateX(-50px);
}

.whyContainer .pointRight span{
    transform: translateX(50px);
}

.howContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.howContainer span{
    position: relative;
    width: 80%;
    padding: 10px;
    border: 3px solid #333;
    border-radius: 12px;
}

.howContainer span::before{
    position: absolute;
    top: -100px;
    left: -80px;
    content: ',,';
    color: #8fc268;
    font-size: 4rem;
}

.howContainer span::after{
    position: absolute;
    top: -100px;
    right: -80px;
    content: ',,';
    color: #8fc268;
    font-size: 4rem;
}

.howContainer .wrapper{
    width: 100%;
}

.howContainer .wrapper img{
    width: 100%;
}

@media (max-width: 1200px) {
    .whatContainer .what, .whatContainer .scope{
        width: 100%;
    }
    .whatContainer{
        flex-direction: column;
    }

}

@media (max-width: 992px) {
    .carbonCreditPurchasingContainer section{
        width: 90%;
    }

    .whatContainer .what, .whatContainer .scope{
        margin: 0;
        padding: 0;
        border: none;
    }
}

@media (max-width: 768px) {
    .whyContainer .point .circle{
        display: none;
    }

    .whyContainer .point span{
        transform: translateX(0);
        height: auto;
        padding: 10px;
    }

    .howContainer span::before{
        top: -100px;
        left: -20px;
    }
    
    .howContainer span::after{
        top: -100px;
        right: -20px;
    }
}