.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #97a68c;
    color: #fefefe;
    letter-spacing: 3px;
}

.feedbackContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.feedback{
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

.info{
    width: 55%;
    line-height: 3;
}

.info h2{
    font-size: 3rem;
    font-weight: 700;
}

.info .wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.info .wrapper img{
    width: 70%;
}

.feedbackForm{
    width: 40%;
}

.feedbackContainer span{
    line-height: 2;
}

.feedbackContainer form{
    padding: 20px;
    border-radius: 5px;
}

.feedbackContainer label, .feedbackContainer input, .feedbackContainer textarea {
    margin-bottom: 10px;
}

.feedbackContainer input, .feedbackContainer textarea{
    border-radius: 5px;
}

.feedbackContainer label::after{
    content: '*';
    color: red;
}

.feedbackContainer input{
    height: 35px;
}

.feedbackContainer textarea{
    width: 100%;
}

.feedbackContainer input[type="submit"] {
    height: initial;
    padding: 10px 20px;
    background-color: #fefefe;
    border: none;
    cursor: pointer;
    border-radius: 0
}

.feedbackContainer input[type="submit"]:hover {
    background-color: #7f8b76;
}

@media (max-width: 992px) {
    .feedback{
        flex-direction: column;
    }

    .feedback .info, .feedback .feedbackForm{
        width: 100%;
    }
}