.feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #666;
    font-weight: 500;
}

.feedback  span{
    width: 40%;
    line-height: 30px;
}

form{
    width: 40%;
    margin: auto;
    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 5px;
}

label, input, textarea {
    margin-bottom: 10px;
}

input, textarea{
    border: solid #555 3px;
    border-radius: 5px;
}

label::after{
    content: '*';
    color: red;
}

input{
    height: 35px;
}

textarea{
    width: 100%;
}

input[type="submit"] {
    height: initial;
    padding: 10px 20px;
    background-color: #97a68c;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0
}

input[type="submit"]:hover {
    background-color: #7f8b76;
}

@media (max-width: 1200px) {
    form, .feedback  span{
        width: 60%;
    }
}
@media (max-width: 992px) {
    form, .feedback  span{
        width: 80%;
    }
}