@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.videoWrapper{
    width: 100%;
}

.videoWrapper video{
    width: 100%;
}

.gasInterrogation{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    color: #404040;
}

.gasInterrogation h2{
    margin-bottom: 30px;
}

.gasInterrogation h2::first-letter{
    color: #77933c;
}

.gasInterrogationContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.gasInterrogationContainer section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.gasInterrogationContainer span{
    display: inline-block;
    line-height: 2.5;
    letter-spacing: 2.2px;
    margin-bottom: 30px;
    list-style: none;
}

.whyContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
}

.whyContainer h2{
    margin-bottom: 30px;
    padding-bottom: 5px;
    border-bottom: 3px solid #97a68c;
}

.whyContainer .wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.whyContainer .wrapper img{
    width: 20%;
    aspect-ratio: 1/1;
}

.howContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.howContainer span{
    position: relative;
    background-color: #97a68c;
    color: #fefefe;
    width: 80%;
    padding: 10px;
    border-radius: 12px;
}

.howContainer span::before{
    position: absolute;
    top: -100px;
    left: -80px;
    content: ',,';
    color: #97a68c;
    font-size: 4rem;
}

.howContainer span::after{
    position: absolute;
    top: -100px;
    right: -80px;
    content: ',,';
    color: #97a68c;
    font-size: 4rem;
}

.howContainer .wrapper{
    width: 100%;
}

.howContainer .wrapper img{
    width: 100%;
}

@media (max-width: 1200px) {
    .whatContainer .what, .whatContainer .scope{
        width: 100%;
    }
    .whatContainer{
        flex-direction: column;
    }

}

@media (max-width: 992px) {
    .gasInterrogationContainer section{
        width: 90%;
    }

    .whatContainer .what, .whatContainer .scope{
        margin: 0;
        padding: 0;
        border: none;
    }

    .whyContainer .wrapper img{
        width: 45%;
        margin: 10px 0;
    }
}

@media (max-width: 768px) {
    .whyContainer .wrapper img{
        width: 80%;
    }

    .howContainer span::before{
        top: -100px;
        left: -20px;
    }
    
    .howContainer span::after{
        top: -100px;
        right: -20px;
    }
}

