.GHG{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.GHG h1{
    position: relative;
    width: fit-content;
    text-align: center;
    font-weight: 500;
    background-color: #606060;
    color: #fefefe;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 3px 3px 5px #888;
}

.GHG h1::first-letter{
    color: #8fc268;
    font-weight: 700;
}

.GHGContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.GHGContainer section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.GHGContainer strong{
    font-size: 1.5rem;
    font-weight: 800;
    color: #db8c5f;
}

.GHGContainer b{
    font-size: 1.5rem;
    font-weight: 600;
    color: #67b1a0;
}

.GHGContainer span{
    display: inline-block;
    line-height: 2.5;
    letter-spacing: 2.2px;
    margin-bottom: 30px;
    list-style: none;
}

.what{
    width: 45%;
    padding: 50px;
    border: solid 8px #8ca6a1;
    border-radius: 120px 75px 20px 180px;
}

.whatContainer{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.whatContainer .categories{
    text-align: center;
    height: fit-content;
    width: 50%;
    padding: 50px;
    border: solid 8px #8ca6a1;
    border-radius: 20px 90px 180px 20px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.whyContainer .wrapper img{
    width: 100%;
}

.wrapper img{
    width: 50%;
}

.whatContainer .categories h2{
    font-weight: 600;
    color: #804a04;  
}

.collapseItem{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.collapseItem article {
    overflow: hidden;
}
  
.collapseItem article p {
    margin: 10px;
}
  
.collapseItem a {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fefefe;
    transition: 400ms transform ease;
}

.collapseItem span{
    margin-bottom: 0;
}
  
.collapseItem input[type="checkbox"] {
    position: absolute;
    margin: 0;
    width: 20px;
    height: 100%;
    right: 10px;
    top: 10px;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}
  
.collapseItem input[type="checkbox"]:checked ~ .portlet-header a {
    transform: rotate(180deg);
}
  
.collapseItem input[type="checkbox"]:checked ~ .portlet-content {
    grid-template-rows: 1fr;
}
  
.portlet {
    position: relative;
    width: fit-content;
    border: 1px solid #333;
    border-radius: 8px;
    overflow: hidden;
}
  
.portlet-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #97a68c;
    padding: 10px 30px;
    color: #fff;
}
  
.portlet-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: 400ms grid-template-rows ease;
}

@media (max-width: 1200px) {
    .whatContainer .what, .whatContainer .categories{
        width: 100%;
    }
    .whatContainer{
        flex-direction: column;
    }
}

@media (max-width: 992px) {
    .GHGContainer section{
        width: 90%;
    }

    .whatContainer{
        flex-direction: column;
    }

    .whatContainer .what, .whatContainer .categories{
        margin: 0;
        border: none;
    }
}
@media (max-width: 768px) {
    .GHG{
        width: 95%;
    }
    .GHG h1{
        font-size: 4vw;
    }

    .whyContainer .wrapper img{
        width: 100%;
    }
}

@media (max-width: 400px) {
    .GHG h1{
        font-size: 4.5vw;
    }
}
