.GHG{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.GHG h1{
    position: relative;
    width: fit-content;
    text-align: center;
    font-weight: 500;
    background-color: #606060;
    color: #fefefe;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 3px 3px 5px #888;
}

.GHG h1::first-letter{
    color: #8fc268;
    font-weight: 700;
}

.GHGContainer{
    width: 80%;
}

.GHGContainer strong{
    font-size: 1.5rem;
    font-weight: 800;
    color: #db8c5f;
}

.GHGContainer b{
    font-size: 1.5rem;
    font-weight: 600;
    color: #67b1a0;
}

.GHGContainer span{
    display: inline-block;
    line-height: 2.5;
    letter-spacing: 2.2px;
    margin-bottom: 30px;
    list-style: none;
}

.what{
    padding-bottom: 20px;
    border-bottom: 5px solid #333;
}

.whatContainer{
    display: flex; 
    justify-content: space-between;
}

.whatContainer .what{
    width: 50%;
}

.whatContainer .categories{
    width: 40%;
    height: fit-content;
    padding: 20px 10px;
    border: solid 5px #97a68c;
    border-radius: 20px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.whatContainer .categories img{
    width: 80%;
    height: auto;
    object-fit: contain;
}

.whatContainer .categories h2{
    display: inline-block;  
}

.whatContainer .categories a{
    display: inline-block;
    text-decoration: none;
    color: #97a68c;
    padding: 0px 20px;
    border: 3px solid #bdbdbd;
    border-radius: 20px;
    transition: 0.5s;
}

.whatContainer .categories a:hover{
    background-color: #e0e0e0;
    transform: translateY(-12px);
    transition: 0.5s;
}

.whyContainer .wrapper img{
    width: 80%;
    height: auto;
    object-fit: contain;
}

.whyContainer .listContainer ol{
    width: 100%;
}

.whyContainer .listContainer p{
    color: #4a8592;
    font-weight: 500;
    margin: 10px 0 0 0;
}

.chart{
    display: flex;
    justify-content: center;
    align-items: center;
}

#scope3-chart {
    max-width: 80%;
    max-height: 300px;
    margin: 20px 0;
}

@media (max-width: 1200px) {
    .whatContainer .what, .whatContainer .categories{
        width: 100%;
    }
    .whatContainer{
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .GHG{
        width: 95%;
    }
    .GHG h1{
        font-size: 4vw;
    }

    .whyContainer .wrapper img{
        width: 100%;
    }
}

@media (max-width: 400px) {
    .GHG h1{
        font-size: 4.5vw;
    }
}
