.GHG{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    color: #404040;
}

.GHG h1{
    position: relative;
    text-align: left;
    font-size: 2rem;
    width: 98%;
    padding-left: 10px;
    margin-bottom: 50px;
}

.GHG h1::before{
    position: absolute;
    left: -10px;
    top: -15px;
    content: ' ';
    width: 10px;
    height: 50px;
    background-color: #A3C0D0;
}

.GHG h1::first-letter{
    color: #376092;
}

.GHG h2{
    margin-bottom: 30px;
}

.GHG h2::first-letter{
    color: #77933c;
}

.GHGContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.GHGContainer section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.GHGContainer b{
    font-size: 1.5rem;
    font-weight: 600;
    color: #67b1a0;
}

.GHGContainer span{
    display: inline-block;
    font-size: 1rem;
    line-height: 2.5;
    letter-spacing: 2.2px;
    margin-bottom: 30px;
    list-style: none;
}

.whatContainer{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.whatContainer .what{
    width: 50%;
    margin-right: 30px;
    padding: 50px;
    border: solid 8px #97a68c;
    border-radius: 50px 80px 20px 80px;
}

.whatContainer .categories{
    text-align: center;
    height: fit-content;
    width: 50%;
    padding: 50px;
    border: solid 8px #97a68c;
    border-radius: 70px 40px 120px 30px;
}

.scope2, .scope3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
}

.boxContainer .box{
    width: 45%;
    padding: 10px;
}

.boxContainer .box span{
    padding: 20px;
    border-radius: 10px;
}

.boxContainer .box span h2{
    position: relative;
    font-size: 1.5rem;
    width: fit-content;
}

.boxContainer .box span h2::first-letter{
    color: #9b7E67;
}

.boxContainer .box span h2::after{
    position: absolute;
    left: 0;
    bottom: -10px;
    content: '';
    width: 50px;
    height: 6px;
    background-color: #b99172;
}


.boxContainer .box span p{
    background: linear-gradient(120deg, #F2C37220, #A2D8F020);
    padding: 10px 20px;
    border-radius: 10px;
}

.wrapper img{
    width: 100%;
}

.collapseItem{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.collapseItem article {
    overflow: hidden;
}

.collapseItem .article2 {
    overflow-y: scroll;
    max-height: 250px;
}
  
.collapseItem article p {
    margin: 10px;
}
  
.collapseItem a {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fefefe;
    transition: 400ms transform ease;
}

.collapseItem span{
    margin-bottom: 0;
}
  
.collapseItem input[type="checkbox"] {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 50px;
    right: 10px;
    top: 10px;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}
  
.collapseItem input[type="checkbox"]:checked ~ .portlet-header a {
    transform: rotate(180deg);
}
  
.collapseItem input[type="checkbox"]:checked ~ .portlet-content {
    grid-template-rows: 1fr;
}
  
.portlet {
    position: relative;
    width: fit-content;
    border: 1px solid #333;
    border-radius: 8px;
    overflow: hidden;
}
  
.portlet-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #97a68c;
    padding: 10px 30px;
    color: #fff;
}
  
.portlet-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: 400ms grid-template-rows ease;
}

.whyContainer h2{
    margin-bottom: 30px;
    padding-bottom: 5px;
    border-bottom: 3px solid #97a68c;
}

.howContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.howContainer span{
    position: relative;
    background-color: #97a68c;
    color: #fefefe;
    width: 80%;
    padding: 10px;
    border-radius: 12px;
}

.howContainer span::before{
    position: absolute;
    top: -100px;
    left: -80px;
    content: ',,';
    color: #97a68c;
    font-size: 4rem;
}

.howContainer span::after{
    position: absolute;
    top: -100px;
    right: -80px;
    content: ',,';
    color: #97a68c;
    font-size: 4rem;
}


@media (max-width: 1200px) {
    .whatContainer .what, .whatContainer .categories{
        width: 100%;
        margin: 0;
        padding: 0;
        border: none;
    }
    .scope2 .boxContainer .box, .scope3 .boxContainer .box{
        width: 80%;
    }

    .whatContainer,.scope2 .boxContainer, .scope3 .boxContainer{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 992px) {
    .GHGContainer section{
        width: 90%;
    }
}

@media (max-width: 768px) {
    .scope2 .boxContainer .box, .scope3 .boxContainer .box{
        width: 100%;
    }

    .howContainer span::before{
        top: -100px;
        left: -20px;
    }
    
    .howContainer span::after{
        top: -100px;
        right: -20px;
    }
}
