.I-REC{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.I-REC h1{
    position: relative;
    width: fit-content;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    background-color: #707070;
    color: #fefefe;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 3px 3px 5px #888;
}

.I-REC h2{
    margin-bottom: 30px;
}

.I-REC h1::first-letter,.I-REC h2::first-letter{
    color: #8fc268;
    font-weight: 550;
}

.I-RECContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.I-RECContainer section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.I-RECContainer strong{
    font-size: 1.5rem;
    font-weight: 800;
    color: #db8c5f;
}

.I-RECContainer span{
    display: inline-block;
    line-height: 2.5;
    letter-spacing: 2.2px;
    margin-bottom: 30px;
    list-style: none;
}

.whatContainer{
    display: flex; 
    align-items: start;
    justify-content: space-between;
}

.whatContainer .what{
    width: 50%;
    margin-right: 30px;
    padding: 50px;
    border: solid 8px #97a68c;
    border-radius: 20px 80px 20px 80px;
}

.whatContainer .scope{
    width: 50%;
    padding: 40px;
    border: solid 8px #97a68c;
    border-radius: 70px 40px 120px 20px;
}

.whatContainer .scope .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.whatContainer .scope img{
    width: 50%;
}

.whatContainer .scope h5{
    border-bottom: 3px solid #97a68c
}

.whatContainer a{
    display: inline-block;
    text-decoration: none;
    color: #97a68c;
    padding: 0px 10px;
    border: 3px solid #bdbdbd;
    border-radius: 8px;
    transition: transform 0.3s;
}

.whatContainer a:hover{
    background-color: #e0e0e0;
    transform: translateY(-5px);
    transition: transform 0.3s;
}

.energyContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.energyContainer .energyItem{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 30%;
    min-width: 300px;
    margin: 20px 0;
}

.energyContainer .energyItem:hover p{
    cursor: pointer;
    background-color: #97a68c;
    color: #fefefe;
    transform: translateY(-10px);
    transition: transform 0.5s ease ,color 0.5s ease, background-color 0.5s ease;
}

.energyContainer .energyItem p{
    color: #666;
    padding: 20px;
    border: 3px solid #97a68c;
    border-left: 25px solid #97a68c;
    border-radius: 8px;
    width: 90%;
    transition: transform 0.5s ease ,color 0.5s ease, background-color 0.5s ease;
}


.energyContainer .energyItem i{
    margin-left: 10px;
}

.whyContainer .wrapper, .howContainer .wrapper{
    width: 100%;
}

.whyContainer .wrapper img, .howContainer .wrapper img{
    width: 100%;
}

.whyContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
}

.whyContainer h2{
    margin-bottom: 30px;
    padding-bottom: 5px;
    border-bottom: 3px solid #97a68c;
}

.howContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.howContainer span{
    position: relative;
    background-color: #97a68c;
    color: #fefefe;
    width: 80%;
    padding: 10px;
    border-radius: 12px;
}

.howContainer span::before{
    position: absolute;
    top: -100px;
    left: -80px;
    content: ',,';
    color: #97a68c;
    font-size: 4rem;
}

.howContainer span::after{
    position: absolute;
    top: -100px;
    right: -80px;
    content: ',,';
    color: #97a68c;
    font-size: 4rem;
}
@media (max-width: 1200px) {
    .whatContainer .what, .whatContainer .scope{
        width: 100%;
    }
    .whatContainer{
        flex-direction: column;
    }

}

@media (max-width: 992px) {
    .ISO14064Container section{
        width: 90%;
    }

    .whatContainer .what, .whatContainer .scope{
        margin: 0;
        padding: 0;
        border: none;
    }
}
