@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.videoWrapper{
    width: 100%;
    backdrop-filter:grayscale(5px);
    -webkit-backdrop-filter: grayscale(5px);
}

.videoWrapper video{
    width: 100%;
}

main{
    text-align: center;
}

main .title h1{
    font-size: 32px;
    font-weight: 700;
    margin-top: 40px;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.newsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftbox{
    width: 40%;
}

.leftbox img{
    width: 400px;
    height: 300px;
}

.rightbox{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.rightbox .title{
    margin-right: auto;
}

.rightbox .title a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    color: #555;
}

.rightbox .title h3::first-letter{
    color: #749a5a;
    text-decoration-line: underline;
    text-underline-offset: 10px
}

.newItems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}

.newsItems .newsItem:first-of-type {
    border-bottom: 1px solid #666; /* 根據需要調整顏色和厚度 */
}

.newsContent{
    display: flex;
    justify-content: start;
    align-items: center;
}

.newsContent .content{
    width: 80%;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.newsContent .wrapper{
    width: 250px;
    height: 180px;
    margin-right: 10px;
}

.newsContent .wrapper a{
    width: 100%;
}

.newsContent .wrapper img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content h2{
    text-align: left;
    font-size: 1.2rem;
}

.content i{
    font-size: 16px;
}

.solution span h1{
    color: rgb(181, 189, 152);
}

.solution span p{
    line-height: 2.5;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
}

.serviceItem{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.service .item{
    width: 20%;
}

.service .item a{
    color: #fefefe;
    text-decoration: none;
}

.serviceItem .item img{
    width: 150px;
    height: 150px;
}

.serviceItem .item h1{
    font-weight: 700;
    font-size: 20px;
    color: #475468;
}

.serviceItem .item button{
    background-color: #97a68c;
    margin-bottom: 40px;
    padding: 8px 16px;
    border-radius: 5px;
    border: solid transparent 5px;
}

.serviceItem .item button:hover{
    background-color: #8dba81;
    animation: scale .3s cubic-bezier(0.47, 0.5, 0.745, 0.715);
}

.event-carousel {
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
}

.carouselItem {
    flex: 0 0 33%;
    padding: 0 80px;
    box-sizing: border-box;
}

.carouselItem img {
    max-width: 100%;
    height: auto;
    display: block;
}

.carousel-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}
.carousel-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
}

.carousel-dot.active {
    background-color: #333;
}

.brand-nav {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 0 0 1vw 0;
    background-color: white;
    z-index: -10;
}

.brand-nav h1 {
    font-size: calc(16px + 1vw);
    font-weight: 700;
}

.brand-container {
    display: flex;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    min-height: 60px;
    max-height: 120px;
}

.brand-scroll {
    display: flex;
    animation: scroll 15s linear infinite;
}

.brand-item {
    width: auto;
    height: 100%;
    margin: 0 2vw;
}

.brand-item img {
    width: 200px;
    height: 100%;
    object-fit: contain;
}

.blur-effect {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    pointer-events: none;
}

.blur-left {
    left: 0;
    background: linear-gradient(to right, white, transparent);
}

.blur-right {
    right: 0;
    background: linear-gradient(to left, white, transparent);
}

@media (max-width: 1024px) {
    .leftbox{
        display: none;
    }

    .rightbox{
        width: 80%;
    }

    .carouselItem {
        flex: 0 0 50%;
    }

}

@media (max-width: 992px) {
    .serviceItem .item{
        width: 50%;
    }
}

@media(max-width: 768px) {
    .newsContent{
        flex-direction: column;
    }

    .serviceItem .item{
        width: 80%;
    }
    
    .carouselItem {
        flex: 0 0 100%;
    }
}

@media(max-width: 480px) {
    .eventItem .item{
        flex: 0 0 calc(100%);
    }

}