.ISO14064{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.ISO14064 h1{
    position: relative;
    width: fit-content;
    font-weight: 500;
    background-color: #606060;
    color: #fefefe;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 3px 3px 5px #888;
}

.ISO14064 h1::first-letter{
    color: #8fc268;
    font-weight: 700;
}

.ISO14064 ul{
    list-style: none;
    margin-right: 10px;
}

.ISO14064Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.ISO14064Container strong{
    font-size: 1.5rem;
    font-weight: 800;
    color: #db8c5f;
}

.ISO14064Container span{
    display: inline-block;
    line-height: 2.5;
    letter-spacing: 2.2px;
    margin-bottom: 30px;
    list-style: none;
}

.what{
    padding: 50px;
    border: solid 8px #97a68c;
    border-radius: 20px 80px 20px 80px;
}

.whatContainer{
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.whatContainer .what{
    position: relative;
    width: 50%;
}

.whatContainer .scope{
    width: 40%;
    padding: 40px;
    border: solid 8px #97a68c;
    border-radius: 120px 20px 120px 20px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.whatContainer .scope img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.whatContainer .scope h2{
    font-weight: 600;
    color: #804a04;
}

.whatContainer .scope a{
    display: inline-block;
    text-decoration: none;
    color: #97a68c;
    padding: 0px 20px;
    border: 3px solid #bdbdbd;
    border-radius: 20px;
    transition: transform 0.3s;
}

.whatContainer .scope a:hover{
    background-color: #e0e0e0;
    transform: translateY(-5px);
    transition: transform 0.3s;
}

.whyContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
}

.whyContainer .point{
    display: flex;
    align-items: center;
    justify-content: center;
}

.whyContainer .point .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    background-color: #fff;
    border: 5px solid #8fc268;
    border-radius: 100%;
}

.whyContainer .point span{
    position: relative;
    background-color: #ccc;
    width: 70%;
    height: 150px;
    margin-top: 30px;
    padding: 10px 60px;
    border-radius: 20px;
    z-index: -1;
}

.whyContainer .point span p{
    line-height: 1.8;
}

.whyContainer .pointLeft span{
    transform: translateX(-50px);
}

.whyContainer .pointRight span{
    transform: translateX(50px);
}

.howContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.howContainer span{
    width: 40%;
}

@media (max-width: 1200px) {
    .ISO14064{
        font-size: 0.9rem;
    }

    .whatContainer .what, .whatContainer .scope{
        width: 100%;
    }
    .whatContainer{
        flex-direction: column;
    }

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    .ISO14064 h1{
        font-size: 4vw;
    }
}