.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.verticle.cardContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.card{
    width: 40%;
    margin: 20px;
    box-shadow: 0 0 0 1px #111;
    border-radius: 8px;
}

.verticle.card{
    width: 80%;
    margin: 20px;
    box-shadow: 0 0 0 1px #111;
    border-radius: 8px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px
}

.content a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content img{
    aspect-ratio: 4 / 3;
    border-radius: 10px;
    max-height: 120px;
    -o-object-fit: cover;
    object-fit: cover;
}

.title h3{
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title p {
    font-size: 16px;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

time{
    font-size: 12px;
    margin-left: 80%;
}

@media (max-width: 1200px) {
    #layoutToggle{
        display: none;
    }

    .card{
        width: 80%;
    }
}

@media (max-width: 576px) {
    .content img{
        width: 95%;
        max-height: 500px;
        margin-bottom: 20px;
    }

    .card .content{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}