.nav-container{
    margin-bottom: 50px;
}

/*新聞列表*/ 
.cardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    line-height: 2.2;
    letter-spacing: 2px;
}

.topNews{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-bottom: 40px;
    border-bottom: 1px solid #666;
}

.top-news-card{
    display: flex;
    justify-content: space-around;
    align-items: start;
    width: 100%;
}

.top-news-card h2{
    font-size: 2rem;
}

.top-news-card p{
    font-size: 0.9rem;
}


.top-news-card .wrapper{
    width: 55%;
}

.top-news-card .wrapper img{
    width: 90%;
}

.top-news-card span{
    width: 45%;
}

.top-news-card span a{
    color: #000;
    text-decoration: none;
}

.top-news-card span p{
    color: #333;
}

.mainNews{
    display: flex;
    justify-content: space-around;
    align-items: start;
    width: 100%;
    padding-top: 50px;
}

#news-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    width: 65%;
}

#news-container .cards{
    width: 33%;
}

#news-container .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#news-container .wrapper{
    position: relative;
    width: 100%;
    padding-bottom: 57%;
    margin-bottom: 18px;
}

#news-container .content h3{
    font-size: 1.2rem;
}

#news-container .content a{
    width: 100%;
}

#news-container .content img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

#news-container .content .text{
    width: 100%;
    font-size: 0.8rem;
    padding: 10px 0;
}

#news-container .content .text a{
    text-decoration: none;
    color: #333;
}

#news-container .content .time{
    width: 100%;
    color: #555;
    font-size: 0.8rem;
    text-align: left;
}

#sideNews{
    width: 25%;
}

#sideNews h3::first-letter{
    color: #749a5a;
    text-decoration-line: underline;
    text-underline-offset: 5px
}

#sideNews a{
    width: 100%;
    text-decoration: none;
    color: #000;  
    margin: 50px 0;  
}

#sideNews h4{
    font-size: 1.2rem;
    margin-top: 10px;
}

#sideNews time{
    display: inline-block;
    width: 100% ;
    padding-bottom: 5px;
    border-bottom: 1px solid #666;
}

#pagination button{
    margin: 20px 5px;
    padding: 10px 20px;
    border-radius: 4px;
    color: #111;
}

#pagination button:hover{
    background-color: #ccc;
    transition: 0.3s;
}

@media (max-width: 1200px) {
    .cards{
    width: 75%;
    }
}

@media (max-width: 992px) {
    .top-news-card{
        flex-direction: column;
    }

    .top-news-card .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .top-news-card span, .top-news-card .wrapper img{
        width: 100%;
    }
    
    #news-container{
        width: 90%;
    }

    #news-container .cards{
        width: 50%;
    }

    #sideNews{
        display: none;
    }
}

/*新聞頁面*/ 
.newsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsContainer .news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.news .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.newsContainer .title h1{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 2px;
    color: #333;
}

.newsContainer .title img{
    width: 100%;
    margin-bottom: 20px;
}

.newsContainer .title time{
    font-size: 1rem;
    margin-left: 90%;
}

.newsContainer .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    letter-spacing: 1.5px;
    line-height: 30px;
    padding-top: 20px;
    border-top: solid 1px #333;
}

.newsContainer .content h2{
    position: relative;
    margin-right: auto;
    font-size: 1.8rem;
    font-weight: 600;
}

.newsContainer .content h2::before{
    content: "";
    position: absolute;
    left: -20px;
    top: 10px;
    width: 4px;
    height: 100px;
    background-color: #97a68c
}

.newsContainer .content em{
    position: relative;
    text-align: center;
    font-size: 1rem;
    background-color: #97a68c;
    color: #fefefe;
    width: 100%;
    margin: 30px 0;
    padding: 20px 30px;
    border-radius: 8px;
}

.newsContainer .content em::before{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    content: '---';
}

.newsContainer .content em::after{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    content: '---';
}

.newsContainer .news .content .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsContainer .news .content img{
    width: 80%;
    margin: 20px 0;
}

.newsContainer .content .imgComment{
    text-align: center;
}

#share-buttons{
    margin: 50px 0
}

#share-buttons a{
    font-size: 2rem;
    text-decoration: none;
    color: #222;
    margin: 0 30px;
}

#share-buttons a:hover{
    color: rgb(24, 94, 207);
}

#share-buttons i:hover{
    cursor: pointer;
}

.back-link{
    text-decoration: none;
    color: #333;
    padding: 10px;
    border: 3px solid #666;
}

.back-link:hover{
    background-color: #ddd;
}

@media (max-width: 576px) {
    .newsContainer .news{
        width: 90%;
    }
}