/*新聞列表*/ 
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.verticle.cardContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#news-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.search-result-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

.search-content-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-content-container span{
    width: 50%;
}

.search-result-item .wrapper{
    width: 50%;
}

.search-result-item img{
    width: 100%;
    height: 100%;
}


.card{
    width: 45%;
    margin: 10px;
}

.verticle .card{
    width: 60%;
    border-radius: 8px;
}

#news-container .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 8px;
}

.content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#news-container .wrapper{
    width: 60%;
}

#news-container .content h3{
    text-align: center;
    width: 100%;
}

#news-container .content a{
    width: 100%;
}

#news-container .content img{
    width: 100%;
    border-radius: 10px;
}

#news-container .content .text{
    width: 100%;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#news-container .content h3{
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

time{
    font-size: 12px;
}

#pagination button{
    margin: 0 5px;
    padding: 10px 20px;
}

#pagination button:hover{
    background-color: #ccc;
    transition: 0.3s;
}

@media (max-width: 1200px) {
    .verticle .card, .card{
    width: 80%;
}
}

@media (max-width: 1200px) {
    #layoutToggle{
        display: none;
    }
}

@media (max-width: 768px) {
    #news-container .content-container{
        flex-direction: column;
    }

    #news-container .content .wrapper{
        width: 100%;
        margin-bottom: 20px;
    }

    .content img{
        width: 100%;
        margin-bottom: 20px;
    }

    #news-container .content .text{
        width: 100%;
    }

    .card .content{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}

/*新聞頁面*/ 
.newsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 76px;
}

.newsContainer .news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.newsContainer .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: solid 1px #333;
}

.newsContainer .title h1{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 2px;
    color: #333;
}

.newsContainer .title img{
    width: 100%;
    margin-bottom: 50px;
}

.newsContainer .title time{
    font-size: 16px;
}

.newsContainer .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    letter-spacing: 1.5px;
    line-height: 30px;
}

.newsContainer .content h2{
    position: relative;
    margin-right: auto;
    font-size: 28px;
    font-weight: 600;
}

.newsContainer .content h2::before{
    content: "";
    position: absolute;
    left: -20px;
    top: 10px;
    width: 4px;
    height: 100px;
    background-color: #97a68c
}

.newsContainer .content em{
    text-align: center;
    margin: 20px;
    color: #454fd6;
}

.newsContainer .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.newsContainer .news .content img{
    width: 90%;
}

.newsContainer .content .imgComment{
    text-align: center;
}

#share-buttons{
    margin: 50px 0
}

#share-buttons a{
    text-decoration: none;
    color: #222;
    margin: 0 10px;
}

#share-buttons a:hover{
    color: #aaa;
}

.back-link{
    text-decoration: none;
    color: #333;
    padding: 10px;
    border: 3px solid #666;
}

.back-link:hover{
    background-color: #ddd;
}

@media (max-width: 576px) {
    .newsContainer .news{
        width: 90%;
    }
}