main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.path{
    display: flex;
    justify-content: center;
    align-items: center;
}

.path .title h1,.path h2,.methods h1{
    font-weight: 600;
    color: #3b8e89;
}

.path .title p{
    line-height: 2.5;
    margin-bottom: 30px;
}

.step{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.step h1,
.step h2,
.step h3,
.step li,
.step ol,
.step p{
    letter-spacing: 2px;
    text-align: left;
}

.step img{
    width: 100%;
    margin: 30px 0;
}

.step h3{
    color: #444;
    font-size: 28px;
    font-weight: 500;
    margin: 30px 0;
}

.step li{
    color: #666;
    font-size: 16px;
}

.step ol{
    line-height: 50px;
}

.video{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: clip;
}

iframe {
    width: 80%;
    height: 500px;
}

.methods{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.methods .methodsItem{
    display: flex;
    align-items: center;
    justify-content: center;
}

.methods .methodsItem .item:nth-child(odd){
    background-color: #8ea081;
}

.methods .methodsItem .item:nth-child(even){
    background-color: #666;
}

.methods .item{
    background-color: #444;
    color: #fefefe;
    max-width: 80%;
    height: 100px;
    margin: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 100px;
    text-align: left;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #6b6868;
}

.methods .item:hover{
    cursor: pointer;
    opacity: 0.92;
    animation: scale .3s cubic-bezier(0.47, 0.5, 0.745, 0.715);
}

@media (max-width: 1200px) {
    iframe {
        height: 400px;
    }
}

@media (max-width: 992px) {
    iframe {
        height: 300px;
    }
}

@media (max-width: 576px) {
    iframe {
        height: 210px;
    }
}