.newsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 76px;
}

.news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.title{
    width: 100%;
    border-bottom: solid 1px #333;
}

.title h1{
    font-size: 50px;
    font-weight: 700;
    color: #333;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    letter-spacing: 1.5px;
    line-height: 30px;
}

.content h2{
    font-size: 28px;
    font-weight: 600;
}

.content em{
    text-align: center;
    margin: 20px;
}

.content img{
    object-fit: scale-down;
    width: 80%;
    margin: 20px auto;
}

.content .imgComment{
    text-align: center;
}


@media (max-width: 1200px) {
}

@media (max-width: 576px) {
    .news{
        width: 80%;
    }
}