.SBTi{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.SBTi h1{
    position: relative;
    width: fit-content;
    font-weight: 500;
    background-color: #606060;
    color: #fefefe;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 3px 3px 5px #888;
}

.SBTi h1::first-letter{
    color: #8fc268;
    font-weight: 700;
}

.SBTi ul{
    list-style: none;
    margin-right: 10px;
}

.SBTiContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.SBTiContainer strong{
    font-size: 1.5rem;
    font-weight: 800;
    color: #db8c5f;
}

.SBTiContainer span{
    display: inline-block;
    line-height: 2.5;
    letter-spacing: 2.2px;
    margin-bottom: 30px;
    list-style: none;
}

.whatContainer{
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.whatContainer .what{
    width: 50%;
    padding-bottom: 20px;
    border-bottom: 5px solid #333;
}

.whatContainer .scope{
    width: 40%;
    padding: 20px 10px;
    border: solid 5px #97a68c;
    border-radius: 20px;
}

.whyContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
}

.advantageItems{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.advantageItems .item{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 20vw;
    border: 5px solid #606060;
    border-radius: 100%;
}

.advantageItems .item .number{
    color: #db8c5f;
    font-size: 4.5vw;
    font-weight: 600;
    text-shadow: 2.5px 1px 1px #ccc;
}

.advantageItems .item .box{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    bottom: 50px;
    width: 22vw;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    background-color: #fefefe;
    border: 3px solid #777;
    transform: translateY(100%);
}

.howContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.howContainer span{
    position: relative;
    width: 60%;
}

.howContainer span::before{
    position: absolute;
    top: -100px;
    left: -80px;
    content: ',,';
    color: #8fc268;
    font-size: 64px;
}

.howContainer span::after{
    position: absolute;
    top: -100px;
    right: -80px;
    content: ',,';
    color: #8fc268;
    font-size: 64px;
}

@media (max-width: 1200px) {
    .SBTi{
        font-size: 0.9rem;
    }

    .howContainer, .howSBTi{
        flex-direction: column;
    }

    .whatContainer .what{
        margin-right: 50px;
    }

    .whatContainer .what, .whatContainer .scope, .howSBTi .wrapper, .howSBTi span{
        width: 100%;
    }

}

@media (max-width: 992px) {
    .whatContainer, .advantageItems{
        flex-direction: column;
    }

    .whatContainer .what{
        margin: 50px 0;
    }

    .advantageItems .item{
        max-width: 350px;
        max-height: 350px;
        width: 70vw;
        height: 70vw;
        margin-bottom: 80px;
    }

    .advantageItems .item .number{
        font-size: 48px;
        font-weight: 500;
     }

    .advantageItems .item .box{
        width: 100%;
        font-size: 2.5vw;
    }
}

@media (max-width: 768px) {
    .SBTi h1{
        font-size: 4vw;
    }

    .advantageItems .item .box{
        width: 100%;
        font-size: 16px;
    }
}