.sbti{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sbti h1{
    position: relative;
    display: inline-block;
    font-weight: 600;
    color: #3b8e89;
}

.sbti h1::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #000;
}

.sbti .title p{
    line-height: 2.5;
    margin-bottom: 30px;
}

.introduce{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.introduce h1,
.introduce h2,
.introduce h3,
.introduce li,
.introduce ol,
.introduce p{
    letter-spacing: 2px;
}

.introduce h3{
    color: #444;
    font-size: 2vw;
    font-weight: 500;
    margin: 30px 0;
}

.introduce li{
    color: #666;
    font-size: 16px;
}

.introduce ol{
    line-height: 50px;
}

.targetSet{
    display: flex;
}

.targetSet img{
    width: 50%;
    height: 50%;
    margin: 70px 10px;
}

@media (max-width: 1200px) {
    .sbti .title h1{
        font-size: 24px;
    }

    .introduce h3{
        color: #444;
        font-size: 24px;
    }

    .targetSet{
        width: 100%;
        flex-direction: column-reverse;
    }

    .targetSet img{
        width: 80%;
        height: 80%;
        margin: 30px 0;
    }
}