*{
    font-family: "Noto Sans TC", sans-serif;
    box-sizing: border-box;
    outline: none;
    border-style: none;
    scroll-behavior: smooth;
    text-align: center;
}

.topBtn button{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1;
    background-color: #97a68c;
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.bannerContainer{
    margin-top: 76px;
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
}

.banner{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bannerContainer span{
    width: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fefefe;
    transform: translate(-50%, -50%);
    letter-spacing: 5px;
    z-index: 1;
}

.bannerContainer span h1{
    font-size: 3vw;
}

.bannerContainer span h2{
    width: 100%;
    font-size: 1.5vw;
}

.main .title h1{
    font-size: 40px;
    font-weight: 700;
}

.main.title h2{
    font-size: 24px;
}

.process{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stepContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: auto;
    gap: 30px;
    width: 90%;
}

.step {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.step:hover{
    cursor: pointer;
    background-color: #eee;
    transform: translateY(-5px);
}

.step h2 {
    color: #5c574b;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 0;
}

.step-icon {
    font-size: 3em;
    color: #809d6c;
    margin-bottom: 20px;
}

.step p {
    color: #666;
    font-size: 1em;
}

.document{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.paperContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.paper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.paper ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.paper li{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 30px;
    padding: 20px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.paper li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f0da";
    padding-right: 5px;
    font-weight: 900;
}



footer{
    width: 100%;
    letter-spacing: 2px;
    background-color: rgb(243, 243, 242);
}

.footerContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px 0 10px 0;
}

.footerContainer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 25%;
}

.footerContainer h4{
    text-align: left;
    font-size:16px;
    margin: 15px 0 10px 0;
}

.footerContainer ul{
    list-style: none;
    margin: 0;
    padding: 0;  
}

.footerContainer li{
    font-size:12px;
}

footer a{
    text-decoration: none;
    color: #444; 
    line-height: 30px;
}

footer p{
    font-size: 12px;
    color: #888;
    
}

.footerCopyright p{
    display: inline-block;
    font-size: 10px;
    margin-right: 20px;
}

.footerCopyright h4{
    display: inline-block;
    font-size: 10px;
    border-right: solid #222 1px;
}

@media (max-width: 1200px) {

}
@media (max-width: 992px) {
    .paper ul{
        width: 90%;
    }
    
    .footerContainer div{
        width: 50%;
    }

    .footerCopyright{
        display: flex;
        flex-direction: column;
    }
}