input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.stepContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.allstep{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.step{
    display: flex;
    justify-content: center;
    align-items: start;
    position: absolute;
    top: 60px;
    width: 100%;
    height: 90%;
    padding-top: 30px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    background: linear-gradient(150deg,#D9F2D080 15%,#C1E5F590 25%,#FFF1D099 70%);
}

.step.active {
    height: fit-content;
    min-height: calc(100vh - 70px);
    visibility: visible;
    opacity: 1;
}

.allstep h2 {
    display: flex;
    width: 100px;
    margin: 30px 0 0 5vw;
    color: #bbb;
    font-size: 5.5rem;
    text-shadow: 2px 2px  3px#666;
    letter-spacing: 50px;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
}

.step h3{
    color: #fefefe;
    background-color: rgb(255, 192, 0);
    text-align: justify;
    text-align-last: justify;
    -moz-text-align-last: justify;
    font-family: 'GensenFont-M';
    font-size: 1.15rem;
    border: 2.5px solid #d1d1d1;
    border-radius: 8px;
    letter-spacing: 2.5px;
    padding: 7.5px 8px;
}

.step span{
    color: #fefefe;
    font-size: 1.1rem;
    letter-spacing: 5px;
    font-weight: 550;
}

.allstep .stepButton{
    position: fixed;
    width: 50px;
    height: 80px;
    background-color: #97a68c;
    color: #fefefe;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.stepButton:hover{
    background-color: #cfb86e;
}

#prev-button{
    top: 300px;
    left: 10px;
    z-index: 1;
}

#next-button, #calculate, #restartButton{
    top: 300px;
    right: 10px;
    z-index: 1;
}

/* step1 */

#buildModeGroup{
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}

#buildModeGroup .bulid{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    width: 30%;
}

.bulid:hover{
    box-shadow: 0 0 10px #fefefe;
}

.bulid.active{
    box-shadow: 0 0 10px #ccc;
}

#buildModeGroup .bulid .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-width: 100px;
    height: 300px;
    pointer-events: none;
}

#buildModeGroup .bulid img{
    width: 100%;
}

#buildModeGroup .bulid-3 img{
    scale: 0.8;
    transform: translateY(20px);
}

#buildModeGroup .bulid h3{
    margin-top: 20px;
    margin-bottom: 80px;
}

#buildModeGroup .bulid span{
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
    height: 280px;
}

#buildModeGroup .bulid p{
    text-align: left;
    position: relative;
    color: #595959;
    width: 65%;
    line-height: 1.5;
    margin-bottom: 50px;
    z-index: 0;
}

#buildModeGroup .bulid-1 p::after{
    font-family: 'GensenFont-B';
    font-weight: bolder;
    position: absolute;
    top: -80px;
    right: -80px;
    content: '01';
    color: #f2f2f2;
    font-size: 9rem;
    z-index: -1;
}

#buildModeGroup .bulid-2 p::after{
    font-family: 'GensenFont-B';
    font-weight: bolder;
    position: absolute;
    top: -80px;
    right: -80px;
    content: '02';
    color: rgb(235, 235, 235);
    font-size: 9rem;
    z-index: -10;
}

#buildModeGroup .bulid-3 p::after{
    font-family: 'GensenFont-B';
    font-weight: bolder;
    position: absolute;
    top: -80px;
    right: -80px;
    content: '03';
    color:  rgb(235, 235, 235);
    font-size: 9rem;
    z-index: -10;
}

/* step2 */

#installationTypeGroup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

#installationTypeGroup .install{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 500px;
    height: 140px;
}

#installationTypeGroup .install-1, #installationTypeGroup .install-3{
    margin: 0 auto 0 50px;
}

#installationTypeGroup .install-2, #installationTypeGroup .install-4{
    margin: 0 50px 0 auto;
}

.installContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.install:hover{
    box-shadow: 0 0 10px #fefefe;
}

.install.active{
    box-shadow: 0 0 10px #ccc;
}

#installationTypeGroup .install .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    max-width: 150px;
    min-width: 120px;
    height: 120px;
    margin-right: 20px;
    pointer-events: none;
}

#installationTypeGroup .install img{
    width: 100%;
}

#installationTypeGroup .install span{
    color: #595959;
    width: fit-content;
    pointer-events: none;
    letter-spacing: 5px;
    height: 120px;
}

#installationTypeGroup .install h3{
    width: 180px;
    height: 40px;
}

.unit-conversions h3{
    width: 285px;
    text-align: center;
    margin-bottom: 60px;
}

.electricGroup h3{
    width: 280px;
    text-align: center;
    margin-bottom: 60px;
}

#installationTypeGroup .install p{
    text-align: left;
    width: fit-content;
    font-size: 1rem;
    
}

/* step3 */

.svgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.svgTW{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 420px;
    scale: 1.2;
}

#county{
    scale: 0.2;
}

svg path{
    fill: #97a68c;
    stroke: #111;
}

path.selected{
    fill: #8ba0ab !important;
}

svg path:hover{
    cursor: pointer;
    fill: #8ba0ab !important;
}

.svgContainer .text{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 150px;
    letter-spacing: 5px;
    width: 30%;
}

.text h3{
    width: fit-content;
}

.text p, #step4 p{
    color: #003366;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 20px;
}

.text text ,#step4 text{
    font-size: 0.85rem;
    font-weight: 700;
    letter-spacing: 5px;
}

#selected-region{
    height: 80px;
}

.text .example, #step4 .example{
    display: inline;
    font-size: 0.65rem;
    font-weight: 700;
}

#step3 .text .wrapper{
    width: 300px;
    height: 300px;
    margin: 20px 0;
}

#step3 .text .wrapper img{
    width: 100%;
}

/* step4 */

#step4 .container{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
}

.electricGroup{
    position: relative;
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 33%;
}

.electricPic{
    position: absolute;
    bottom: -200px;
}

.electricGroup .electric-item{   
    margin: 10px 0;
}

.electricGroup .electric-item span{   
    padding: 5px 10px;
    border: 3px solid rgb(209, 209, 209);
    border-radius: 8px;
}

.winter-item span{
    background-color: rgb(178, 205, 210);
}

.summer-item span{
    background-color: rgb(181, 207, 157);
}

.unit-conversions{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 33%;
}

.unit-conversions .input-group{
    display: flex;
    flex-direction: column;
    justify-content: center;;
}

.input-group input{
    background-color: transparent;
    color: rgb(182, 176, 161);
    text-align: right;
    width: 285px;
    height: 40px;
    padding: 0 18px;
    border: 3px solid rgb(209, 209, 209);
    border-radius: 8px;
}

.conversion-item{
    margin: 20px 0;
}

.conversion-item span{
    text-align: center;
    font-size: 0.9rem;
    color: #fefefe;
    display: inline-block;
    background: #999;
    width: 80px;
    height: 40px;
    line-height: 40px;
    border: 2.5px solid #d1d1d1;
    border-radius: 8px;
    letter-spacing: 2.5px;
}

.conversion-item input, .electricGroup input{
    background-color: transparent;
    text-align: center;
    color: rgb(182, 176, 161);
    width: 180px;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
    padding: 0 5px;
    border: 3px solid rgb(209, 209, 209);
    border-radius: 8px;
}

#step4 .text{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 33%;
}

#step4 .text .wrapper{
    width: 300px;
    height: 300px;
    margin: 20px 0;
}

#step4 .text .wrapper img{
    width: 100%
}

/* result */

#results{
    display: flex;
    justify-content: center;
    align-items:start;
    position: absolute;
    position: absolute;
    top: 60px;
    width: 100%;
    background: linear-gradient(150deg,#D9F2D080 15%,#C1E5F590 25%,#FFF1D099 70%);
    width: 100%;
    height: fit-content;
    min-height: calc(100vh - 70px);
    padding-top: 20px;
}

.resultContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.resultContainer .basicInfo{
    width: 400px;
}

.resultContainer .electricInfo{
    width: 500px;
}

.resultContainer h3{
    color: #fefefe;
    background-color: rgb(255, 192, 0);
    text-align: justify;
    text-align-last: justify;
    -moz-text-align-last: justify;
    font-family: 'GensenFont-M';
    font-size: 1.15rem;
    width: 285px;
    border: 2.5px solid #d1d1d1;
    border-radius: 8px;
    letter-spacing: 2.5px;
    padding: 7.5px 10px;
    transform: translateY(-8px);
}

.basicItem, .resultItem{
    width: 300px;
}

.basicItem span, .resultItem span{
    text-align: center;
    font-size: 0.9rem;
    color: #fefefe;
    display: inline-block;
    background: #999;
    width: 100px;
    height: 40px;
    margin: 8px 0;
    line-height: 40px;
    border: 2.5px solid #d1d1d1;
    border-radius: 8px;
    letter-spacing: 2.5px;
}

.basicItem input, .resultItem input{
    background-color: transparent;
    text-align: center;
    color: rgb(182, 176, 161);
    line-height: 40px;
    width: 160px;
    height: 40px;
    margin-left: 20px;
    padding: 0 5px;
    border: 3px solid rgb(209, 209, 209);
    border-radius: 8px;
}

.resultContainer .infoTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 180px;
    font-size: 1rem;
    letter-spacing: 5px;
}

.resultContainer .infoTitle h3{
    width: 180px;
    height: fit-content;
    font-size: 1.2rem;
    letter-spacing: 10px;
    transform: translateY(3px);
}

.basicInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.basicInfo .itemContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: relative;
    width: 100%;
}

.basicInfo .itemContainer .wrapper{
    position: absolute;
    top: -120px;
    right: 0px;
    width: 200px;
    z-index: -1;
}

.basicInfo .itemContainer .wrapper img{
    width: 100%;
}

.electricInfo .resultsPart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.tips{
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 2.5px;
    color: #333;
    width: 100%;
}

.tips1{
    margin-top: 50px;
}

.tips2{
    margin-top: 260px;
}

.tips3{
    margin-top: 360px;
}

.electricInfo .itemContainer{
    position: relative;
    width: 50%;
}

.electricInfo .itemContainer .wrapper{
    position: absolute;
    width: 200px;
    z-index: -1;
}

.electricInfo .itemContainer .wrapper1{
    bottom: 0px;
    right: -200px;
}

.electricInfo .itemContainer .wrapper2{
    top: 180px;
    right: -200px;
}

.electricInfo .itemContainer .wrapper3{
    top: 200px;
    right: -200px;
}

.electricInfo .itemContainer .wrapper img{
    width: 100%;
}

@media (min-width: 1600px) {
    .nav-list, .nav-bar, #results, .step{
        max-width: 1600px;
    }
    
}

@media (max-width: 1200px) {
    .step h2, #results h2 {
        display: none;
    }

    .resultContainer .basicInfo, .resultContainer .electricInfo{
        width: 400px;
    }
}

@media (max-width: 992px) {
    .stepButton{
        scale: 0.8;
    }

    #buildModeGroup{
        flex-direction: column;
    }

    #buildModeGroup .bulid{
        flex-direction: row;
        justify-content: center;
        width: 100%;
        padding: 10px 0;
    }

    #buildModeGroup .bulid h3{
        margin-bottom: 20px;
    }

    #buildModeGroup .bulid .wrapper{
        max-width: 150px;
        width: 40%;
    }

    #buildModeGroup .bulid img{
        width: 100%;
    }

    #buildModeGroup .bulid p::after{
        top: -30px;
    }

    .svgWrapper{
        width: 100%;
    }
    
    #step4 .container{
        flex-direction: column;
        width: 100%;
    }

    .unit-conversions, .electricGroup, #step4 .text,#step4 .input-group{
        width: 100%;
        align-items: center;
        text-align: center;
        margin: 20px 0;
    }

    .resultContainer {
        flex-direction: column;
    }

    .electricInfo .resultsPart,
    .resultContainer .infoTitle,
    .basicInfo .itemContainer{
        justify-content: center;
        align-items: center;
    }

    .resultContainer .infoTitle{
        flex-direction: column;
        margin: 50px 0;
    }

    .basicInfo .itemContainer .wrapper{
        position: absolute;
        width: 200px;
        top: 100px;
        right: 0px;
    }

    .basicInfo, .electricInfo{
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 20px 0;
    }

    .collageItem{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .electricInfo .itemContainer .wrapper1,
    .electricInfo .itemContainer .wrapper2,
    .electricInfo .itemContainer .wrapper3{
        bottom: 0px;
        right: 0;
    }

    .electricInfo .itemContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .basicItem input, .resultItem input{
        background-color: #fefefe90;
        color: #666;
    }
    
}


@media (max-width: 768px) {
    #installationTypeGroup .install{
        width: 90%;
        margin: 10px 0;
    }

    .svgTW{
        scale: 1;
    }

    .svgContainer{
        flex-direction: column;
    }

    #step3 .text{
        width: 100%;
        align-items: center;
        text-align: center;
        margin: 20px 0;
    }

    .unit-conversions,#step4 .text{
        width: 100%;
    }

    #restartButton{
        position: absolute;
        width: 100px;
        height: 40px;
        top: 40px;
        left: 0;
        bottom: 0;
        margin: 0 auto;
        z-index: 10;
    }
}

@media (max-width: 400px) {
    html{
        font-size: 12px;
    }

    #step3 .text .wrapper, #step4 .text .wrapper{
        width: 200px;
    }

    .resultContainer .basicInfo, .resultContainer .electricInfo{
        width: 300px;
    }

}