.solarEnergy{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    color: #404040;
}

.solarEnergy h1{
    position: relative;
    text-align: left;
    font-size: 2rem;
    width: 98%;
    padding-left: 10px;
    margin-bottom: 50px;
}

.solarEnergy h1::before{
    position: absolute;
    left: -10px;
    top: -15px;
    content: ' ';
    width: 10px;
    height: 50px;
    background-color: #A3C0D0;
}

.solarEnergy h1::first-letter{
    color: #376092;
}

.solarEnergy h2{
    margin-bottom: 30px;
}

.solarEnergy h2::first-letter{
    color: #77933c;
}

.solarEnergyContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.solarEnergyContainer section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.solarEnergyContainer strong{
    font-size: 1.5rem;
    font-weight: 800;
    color: #db8c5f;
}

.solarEnergyContainer span{
    display: inline-block;
    line-height: 2.5;
    letter-spacing: 2.2px;
    margin-bottom: 30px;
    list-style: none;
}

.whatContainer{
    display: flex; 
    align-items: start;
    justify-content: space-between;
}

.whatContainer .what{
    width: 50%;
    margin-right: 30px;
    padding: 30px;
    border: solid 8px #97a68c;
    border-radius: 50px 80px 20px 80px;
}

.whatContainer .scope{
    text-align: center;
    width: 50%;
    padding: 30px;
    border: solid 8px #97a68c;
    border-radius: 70px 40px 120px 20px;
}

.whatContainer .scope .wrapper{
    width: 100%;
}

.whatContainer .scope img{
    width: 80%;
    height: auto;
}

.whatContainer .scope a{
    display: inline-block;
    text-decoration: none;
    color: #97a68c;
    padding: 0px 20px;
    border: 3px solid #bdbdbd;
    border-radius: 20px;
    transition: transform 0.3s;
}

.whatContainer .scope a:hover{
    background-color: #e0e0e0;
    transform: translateY(-5px);
    transition: transform 0.3s;
}

.whyContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
}

.whyContainer h2{
    margin-bottom: 30px;
    padding-bottom: 5px;
    border-bottom: 3px solid #97a68c;
}

.whyContainer .wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.whyContainer .wrapper img{
    width: 20%;
    aspect-ratio: 1/1;
}

.exampleContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.example{
    background-color: #fff5e8;
    width: 30%;
    height: 100%;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #666;
}

.example .wrapper{
    position: relative;
    width: 100%;
    padding-bottom: 60%;
    margin-bottom: 18px;
}

.example .wrapper img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.example .content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding: 10px;
}

.example .content h5{
    width: 100%;
    border-bottom: 3px solid #dba75f;

}

.example .content .text{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
}

.example .content .text p{
    width: 50%;
}

.howContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.howContainer span{
    position: relative;
    background-color: #97a68c;
    color: #fefefe;
    width: 80%;
    padding: 10px;
    border-radius: 12px;
}

.howContainer span::before{
    position: absolute;
    top: -100px;
    left: -80px;
    content: ',,';
    color: #97a68c;
    font-size: 4rem;
}

.howContainer span::after{
    position: absolute;
    top: -100px;
    right: -80px;
    content: ',,';
    color: #97a68c;
    font-size: 4rem;
}

.howContainer .wrapper{
    width: 100%;
}

.howContainer .wrapper img{
    width: 100%;
}

@media (max-width: 1200px) {
    .whatContainer .what, .whatContainer .scope{
        width: 100%;
    }
    .whatContainer{
        flex-direction: column;
    }

}

@media (max-width: 992px) {
    .solarEnergyContainer section{
        width: 90%;
    }

    .whatContainer .what, .whatContainer .scope{
        margin: 0;
        padding: 0;
        border: none;
    }

    .example{
        width: 45%;
    }

    .whyContainer .wrapper img{
        width: 45%;
        margin: 10px 0;
    }
}

@media (max-width: 768px) {
    .whyContainer .wrapper img{
        width: 80%;
    }

    .example{
        width: 70%;
    }

    .howContainer span::before{
        top: -100px;
        left: -20px;
    }
    
    .howContainer span::after{
        top: -100px;
        right: -20px;
    }
}

@media (max-width: 500px) {
    .example .content .text{
        align-items: start;
        flex-direction: column;
    }

    .example .content .text p{
        width: 100%;
    }
}